@{
    ViewBag.Title = "Buscar productos";
}



<div class="container-fluid" style="margin-top:10px">
    <div style="width: 100%; text-align: center; color: #777777;">@ViewBag.mensaje</div>
    <div class="row col-md-12 col-md-offset-1">
        @Html.Partial("_PartialProducto")
    </div>
</div>
