
@{
    ViewBag.Title = "finalizar";
}

<div style="width:50%; margin: auto;text-align:center; margin-top: 50px">
    <h2>Orden de compra generada</h2>
    <img src="~/Imagenes/shop_success.png" />
    <p>En unos minutos nos estamos comunicando con usted. Además, hemos enviado un correo a @ViewBag.correo con el detalle de la orden.</p>
</div>

